.wall {
    width: 900px;
    height: 1500px;
}

.block-one {
    justify-content: end;
}

.block-one-buttons {
    justify-content: space-evenly;
}

.block-one-button {
    border-radius: 10px;
}

.block-two-blocks {
    column-gap: 5px;
    width: 45%;
}

.block-two-blocks-logo {
    align-items: center;
    border-radius: 10px;
}

.block-two-blocks-button {
    margin-top: 20px;
}

.block-logo {
    text-align: center;
}

.block-logo p {
    width: 40%;
    color: darkslategray;
}

.block-logo-button {
    border-radius: 20px;
}

.block-posts-border {
    flex-wrap: wrap;
    border: aqua solid 1px;
    border-radius: 20px;
}

.block-posts-border p {
    width: 100%;
    height: 5%;
    color: darkslategray;
}

.block {
    height: 60%;
    border-radius: 10px;
}

.block-pictures {
    height: 15%;
}

.circle {
    width: 70%;
    border-radius: 100%;
}

.picture p {
    color: white;
    width: 70%;
}

.border {
    box-sizing: border-box;
    border: aqua solid 1px;
}

.white-board-posts{
    flex-wrap: wrap;
    column-gap: 5px;
}

.white-board-post{
    border: aqua solid 1px;
    border-radius: 10px;
    box-sizing: border-box;
}

.nav-1{
    flex-grow: 80;
}

.nav-2{
    flex-grow: 20;
    column-gap: 5px;
}

.four-buttons{
    border-top: aqua solid 1px;
}

.one-button{
    flex-grow: 70;
}

.three-buttons{
    column-gap: 2px;
    flex-grow: 30;
}

.button-a{
    border-radius: 5px;
    margin-left: 10px;
}

.banner-button{
    background: darkslategray;
    border-radius: 10px;
}

.down-blocks {
    row-gap: 10px;
}

.down-block {
    border-radius: 5px;
}

.down-line {
    height: 1%;
}

.fish-two {
    column-gap: 5px;
}

.flex{
    display: flex;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-30{
    width: 30%;
}

.w-20{
    width: 20%;
}

.w-15{
    width: 15%;
}

.w-10{
    width: 10%;
}

.w-5{
    width: 5%;
}

.h-100{
    height: 100%;
}

.h-90{
    height: 90%;
}

.h-80{
    height: 80%;
}

.h-70{
    height: 70%;
}

.h-60{
    height: 60%;
}

.h-50{
    height: 50%;
}

.h-45{
    height: 45%;
}

.h-40{
    height: 40%;
}

.h-35{
    height: 35%;
}

.h-20{
    height: 20%;
}

.h-15{
    height: 15%;
}

.h-10{
    height: 10%;
}

.h-5{
    height: 5%;
}

.jc-c{
    justify-content: center;
}

.jc-s-a{
    justify-content: space-around;
}

.ai-c{
    align-items: center;
}

.t-a-c{
    text-align: center;
}

.fd-col{
    flex-direction: column;
}

.bor-ra-5{
    border-radius: 5px;
}

.b-darkslategray{
    background: darkslategray;
}

.b-white{
    background: white;
}

.b-aqua{
    background: aqua;
}

.b-green{
    background: green;
}
